<div class="catalog">
  <ng-container *ngIf="cars === null"><app-spinner></app-spinner></ng-container>
  <ng-container *ngIf="cars !== null">
    <div class="search">
      <div class="search-box">
        <label for="search">Search: </label>
        <input
          type="text"
          name="searchText"
          placeholder="Car Brand"
          [(ngModel)]="searchText"
          (input)="search(searchText)"
        />
      </div>
    </div>
    <ng-container *ngIf="cars.length === 0">
      <div class="no-data">
        <h2>There are no car listings found</h2>
      </div>
    </ng-container>
    <div class="cars" *ngIf="cars.length > 0">
      <div class="car" *ngFor="let car of cars">
        <img class="car-img" src="{{ car.img }}" alt="car-photo" />
        <ul class="car-info">
          <li>
            Brand: <span>{{ car.make }}</span>
          </li>
          <li>
            Model: <span>{{ car.model }}</span>
          </li>
          <li>
            Fuel Type: <span>{{ car.fuelType }}</span>
          </li>
          <li>
            Mileage: <span>{{ car.mileage }} km</span>
          </li>
          <li>
            Price: <span>${{ car.price }}</span>
          </li>
        </ul>
        <button class="btn" [routerLink]="['/catalog', car._id]">
          Details
        </button>
      </div>
    </div>
  </ng-container>
</div>
