/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.shell {
    max-width: 1140px;
    padding: 0 20px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: black;
}

.vertical {
    border-left: 2px solid black;
    height: 22px;
    margin: 0 10px;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: var(--headings-font-family);
}

p,
a,
li,
span,
label {
    font-family: var(--text-font-family);
}