/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.shell {
    max-width: 1140px;
    padding: 0 20px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: black;
}

.vertical {
    border-left: 2px solid black;
    height: 22px;
    margin: 0 10px;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: var(--headings-font-family);
}

p,
a,
li,
span,
label {
    font-family: var(--text-font-family);
}

.form-container{
    width: 100%;
    height: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.auth-form {
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px 15px;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.auth-form div {
    margin: 10px 0;
}

.auth-form input {
    padding-left: 10px;
    margin-left: 10px;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn {
    font-size: 24px;
    padding: 8px 16px;
    text-align: center;
    background-color: #939598;
    border-radius: 10px;
    color: cblack;
    color: white;
    border: 1px solid black;
    margin: 10px 0;
}

.auth-redirect {
    color: #939598;
}