/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.shell {
    max-width: 1140px;
    padding: 0 20px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: black;
}

.vertical {
    border-left: 2px solid black;
    height: 22px;
    margin: 0 10px;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: var(--headings-font-family);
}

p,
a,
li,
span,
label {
    font-family: var(--text-font-family);
}

.form-container{
    width: 100%;
    height: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.auth-form {
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px 15px;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.auth-form div {
    margin: 10px 0;
}

.auth-form input {
    padding-left: 10px;
    margin-left: 10px;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.edit-form {
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px 15px;
    font-size: 18px;
    
}

.edit-form div {
    margin: 10px 0;
}

.edit-form input {
    padding-left: 10px;
    margin-left: 10px;
    font-size: 18px;
}

.btn {
    font-size: 24px;
    padding: 8px 16px;
    text-align: center;
    background-color: #939598;
    border-radius: 10px;
    color: cblack;
    color: white;
    border: 1px solid black;
    margin: 10px 0;
}

.auth-redirect {
    color: #939598;
}

.error {
    margin: 10px 0;
    color: red;
}

ul, ol {
list-style: none;
}

.no-data{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    margin-top: 100px;
}

.cars {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.car {
    width: 350px;
    height: 470px;
    background-color: lightgrey;
    padding: 20px 15px;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 10px;
}

.car-img {
    width: 300px;
    height: 200px;
    margin-bottom: 10px;
}

.car-info li{
        float: left;
        clear: left;
        font-weight: 600;
        margin: 5px 0;
        max-width: 600px;
        word-wrap: break-word;
    
}
.main {
    background-image: url("../../Car-Market/src/assets/main-banner.jpg");
    height: 600px;
    width: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.overlay {
    height: 100%;
    width: 100%;
    background: rgba(16, 16, 16, 1);
    top: 0;
    opacity: 0.4;
}

.headline {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 80px;
    text-transform: uppercase;
}
h3 {
    font-size: 30px;
    text-transform: uppercase;

}

.link-to-catalog{
margin-top: 70px;
width: 200px;
height: 60px;
color: white;
font-size: 24px;
text-decoration-line:underline;
text-underline-offset: 5px;
text-transform: uppercase;
}
