<div class="form-container">
  <form [formGroup]="form" class="auth-form" (ngSubmit)="loginHandler()">
    <div class="email">
      <label for="email">Email:</label>
      <input
        id="email"
        type="text"
        formControlName="email"
        placeholder="Email"
      />
      <ng-container *ngIf="form.get('email')?.touched">
        <p class="error" *ngIf="form.get('email')?.errors?.['required']">
          Email is required!
        </p>

        <p class="error" *ngIf="form.get('email')?.errors?.['email']">
          Email is not valid!
        </p>
      </ng-container>
    </div>
    <div class="password">
      <label for="password">Password:</label>
      <input
        id="password"
        type="password"
        formControlName="password"
        placeholder="*****"
      />
      <ng-container *ngIf="form.get('password')?.touched">
        <p class="error" *ngIf="form.get('password')?.errors?.['required']">
          Password is required!
        </p>
        <p class="error" *ngIf="form.get('password')?.errors?.['minlength']">
          Password must be at least 5 characters long!
        </p>
      </ng-container>
    </div>
    <button [disabled]="form.invalid" class="btn" type="submit">Log In</button>
    <p class="text-center">
      Don't have an account?
      <a class="auth-redirect" routerLink="/auth/register">Register</a>
    </p>
  </form>
</div>
