.main {
    background-image: url("../../assets/main-banner.jpg");
    height: 797px;
    width: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.overlay {
    height: 100%;
    width: 100%;
    background: rgba(16, 16, 16, 1);
    top: 0;
    opacity: 0.1;
}

.headline {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 80px;
    text-transform: uppercase;
}
h3 {
    font-size: 30px;
    text-transform: uppercase;

}

.link-to-catalog{
margin-top: 70px;
width: 200px;
height: 60px;
color: white;
font-size: 24px;
text-decoration-line:underline;
text-underline-offset: 5px;
text-transform: uppercase;
}