.details {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

.car-details {
    width: 300px;
    height: 520px;
    background-color: lightgrey;
    padding: 20px 15px;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 10px;
}

.owner-buttons {
    display: flex;
}

.owner-buttons button {
    margin: 5px;
}