<div class="details">
  <div class="car-details" *ngIf="data !== null">
    <div>
      <img class="car-img" src="{{ data.img }}" alt="car-photo" />

      <div class="owner-buttons" *ngIf="data._ownerId === userId">
        <button class="btn" [routerLink]="['/catalog', data._id, 'edit']">
          Edit
        </button>
        <button class="btn" (click)="deleteCarListing()">Delete</button>
      </div>
    </div>
    <ul class="car-info aside">
      <div class="group">
        <li>
          Brand:
          <p>{{ data.make }}</p>
        </li>
        <li>
          Model:
          <p>{{ data.model }}</p>
        </li>

        <li>
          Fuel Type:
          <p>{{ data.fuelType }}</p>
        </li>
        <li>
          Mileage:
          <p>{{ data.mileage }}</p>
          km
        </li>

        <li>
          Price:
          <p>${{ data.price }}</p>
        </li>

        <li>
          Owner:
          <p>{{ owner }}</p>
        </li>
        <li>
          Phone Number:
          <p>{{ data.phoneNumber }}</p>
        </li>
      </div>
      <div class="group">
        <li>
          Description:
          <p>{{ data.description }}</p>
        </li>
      </div>
    </ul>
  </div>
</div>
