.details {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

.car-details {
    width: 100%;
    height: 520px;
    background-color: lightgrey;
    padding: 20px 15px;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px;
}

.owner-buttons {
    display: flex;
}

.owner-buttons button {
    margin: 5px;
}

.aside {
    margin-left: 50px;
}

.group {
    display: flex;
    align-items: flex-start;
    margin: 10px 0;
}

.group li {
    margin: 0 20px;
}
