footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: black;
    color: white;
    height: 100px;
    font-size: 22px;
    position: absolute;
    width: 100%;
    bottom: 0;
}